.header__auth {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
    margin: 4px 0 auto;
}
@media screen and (max-width: 599px) {
    .header__auth {
        display: none;
    }

}